@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

body {
  text-align: center;
  background-color: white
}

#img {
  border-radius: 10px;
}

p {
  font-family: 'Sora', sans-serif;
  margin: 30px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #36b576;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Sora', sans-serif;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


body { 
   opacity: 0;
   transition: opacity .5s;
}

#refresh {
  display: inline-block;
  border-radius: 4px;
  background-color: #36b576;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 50px;
  transition: all 0.3s;
  cursor: pointer;
}

.animated {
  animation: spin1 2s linear infinite;
}



@keyframes spin1 { 100% { transform:rotate(360deg); } }